
  <a href="{{ .Permalink }}"><img class="img-fluid d-block w-100 mb-3" src="{{ .Params.Featured_image }}"></a>
  <p class="lead text-muted mb-1">{{ .Date.Format "2 January 2006"}}</p>
  <a href="{{ .Permalink }}">
  <h5 class="text-dark"><b>{{ .Title }}</b></h5>
  </a>
  <p class="mb-3">{{ .Description }}</p>
  <a href="{{ .Permalink }}" class="btn btn-outline-primary"><b class="">Lees verder</b></a>

