 <div class="py-4 bg-primary text-center">
    <div class="container">
      <h1 class="mb-4 text-center">Activiteiten</h1>
      <div class="row">
        {{ range sort (where .Data.Pages  "Section" "programma") ".Params.when" "asc" }}
            <div class="col-md-3 col-6 p-4"> 
              <div class="card text-white">
                <a href="{{ .Permalink }}">
                  <img class="card-img" src="{{ .Params.image }}" alt="">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h5 class="card-title"> <b>{{ .Title }}</b> </h4>
                  </div>
                </a>
              </div>
            </div>
        {{ end }}
      </div>
    </div>
  </div>
