  <!-- Events -->
  <div class="py-5 bg-light" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary text-center">Nieuws</h1>
          <div class="row">
            {{ range where .Site.Pages "Type" "blog" | first 3 }}
            <div class="col-md-4 p-3">
                {{ .Render "li" }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    <p class="text-center"><a href="/blog" class="btn btn-primary"><b class="">Meer blogs uit 2019</b></a>
                           <a href="https://2018.kloosterboerderijfestival.nl/blog/" class="btn btn-primary"><b class="">Lees de blogs uit 2018</b></a></p>
    </div>
  </div>

