  <div class="p-5 bg-primary" id="prijzen">
    <div class="container">
      <h1 class="mb-4 text-center">Prijzen</h1>
      <p class="lead">{{ .Param "prijzen.intro" }}</p>
      <ul>
        {{ range .Site.Params.prijzen.items }}
        <li>{{ .item }}
        {{ end }}
      </ul>
      <div class="row">
        {{ range .Site.Params.prijzen.tickets }}
        <div class="p-3 align-self-center col-md-4">
          <div class="card">
            <div class="card-block p-4">
              <h4>{{ .name }}</h4>
              <h1>€{{ .price }}</h1>
              <hr>
              <p>{{ .description }}</p>
              <a href="https://registratie.kloosterboerderijfestival.nl/kbf/2019/" class="btn btn-dark">{{ T "register" }}</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
</div>
