    <div class="py-5 text-white text-center bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mb-4 text-center">Sponsors &amp; partners</h1></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-6">
            <a href="https://www.knr.nl/" target="_blank">
              <img class="center-block img-fluid d-block" src="/assets/knr.png"> </a>
          </div>
          <div class="col-md-3 col-6"></div>
            <a href="https://www.koningshoeven.nl/" target="_blank">
              <img class="center-block img-fluid d-block" src="/assets/koningshoeven.png"> </a>
        </div>
      </div>
    </div>

