  <!-- Speakers -->
  <div class="py-5 bg-light" id="speakers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary" id="selfies">Het KBF Team 2019</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 animate-in-left text-center">
          <img src="/assets/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Wilma</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-left text-center">
          <img src="/assets//people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0">Nelleke</h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/people_10.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Sofie</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-left text-center">
          <img src="/assets/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Roos</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-left text-center">
          <img src="/assets/people_6.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Mattias</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/people_9.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Leen</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/people_3.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Gerrald</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/people_7.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Willem</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/people_8.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Frank</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/avatar-placeholder-generic.png" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Inge</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/avatar-placeholder-generic.png" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Laura</b></h3>
          <p class="text-muted"></p>
        </div>
      </div>
    </div>
  </div>

